.kodchasan-regular {
    font-family: "Kodchasan", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }


body{
    background: linear-gradient(to bottom right, #540BA3  ,#540BA3  ,#DA3D8F ,#DA3D8F );
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    height: 100vh;
}
.conteudo{
    padding-left: 65px;
}
.logo{
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    margin-top: 10px;

}
.logo h1{
    color: white;
    font-family: "Kodchasan", sans-serif;
    font-weight: 300;
    margin-bottom: 27px;
    margin-left: 30px;
}

.texto h1{
    font-size: 120px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    width: 700px;
    
}
.conteudo a{
    text-align: center;
    align-items: center ;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: #FF1E8A;
    color: white;
    font-size: 30px;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    width: 160px;
}
.conteudo a:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}
.loginBack{
    background: linear-gradient(to bottom, #DA3D8F  ,#DA3D8F  ,#540BA3 );
    font-family: "Poppins", sans-serif;
    color: white;
    width: 30%;
    height: 100%;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}
.loginBack h2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: white;
    padding-left: 30px;
}
.loginBack h3{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    padding-left: 30px;
}
.conta{
    padding-left: 30px;
}
input{
    align-items: center;
    gap: 30px;
    width: 90%;
    font-size: 20px;
    background-color: #7D2C77;
    color: white;
    border: 0;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.caixa{
    font-family: "Poppins", sans-serif;
    margin: 10px;
    height: 70px;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 5px;
}

.botao{
    margin-top: 10px;
    margin-left: 35px;
    width: 87%;
    height: 60px;
    font-family: "Poppins", sans-serif;
    background-color: #68F0AE;
    font-weight: 500;
    color: #053518;
    border-radius: 10px;
    font-size: 20px;
    border-style: groove;
    border: 0;
}
p{
    margin-left: 30px;
}
.cadastrar{
    font-weight: 200;
    background-color: transparent;
    border: solid white 2px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    margin-left: 35px;
    width: 380px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}